# Merge the 5 tables of Happiness data into one Table

In [494]:
import pandas as pd
import os
import copy

### Read  data

In [495]:
happinessRootPath = './data/Happiness_Dataset/'
countryDataPath = './data/250 Country Data.csv'

df_happiness_15 = pd.read_csv(happinessRootPath+"/2015.csv", index_col=0)
df_happiness_16 = pd.read_csv(happinessRootPath+"/2016.csv", index_col=0)
df_happiness_17 = pd.read_csv(happinessRootPath+"/2017.csv", index_col=0)
df_happiness_18 = pd.read_csv(happinessRootPath+"/2018.csv", index_col=0)
df_happiness_19 = pd.read_csv(happinessRootPath+"/2019.csv", index_col=0)

df_country = pd.read_csv(countryDataPath, index_col=0)

In [496]:
df_happiness_15.head()

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,
Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [497]:
df_happiness_16.head()

,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,,
Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [498]:
df_happiness_17.head()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
Country,,,,,,,,,,,
Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [499]:
df_happiness_18.head()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [500]:
df_happiness_19.head()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### Check if column "Country or Region "in tables 2018 & 2019 actually contains any region

In [501]:
def isThereRegionsInCountryNames(df, df_country):
    
    # number of entities that has region name instead of country name 
    happinesRegionsCount= len(set(df["Country or region"].unique()).intersection(set(df_country["region"].unique())))   
    
    # number of entities that has subregion name instead of country name
    happinesSubRegionsCount= len(set(df["Country or region"].unique()).intersection(set(df_country["subregion"].unique())))
    

    if(happinesRegionsCount>0):
        print("Happiness 18 table has regions instead of countries")
        return True
    if(happinesSubRegionsCount>0):
        print("Happiness 18 table has subregions instead of countries")
        return True
    
    return False

In [502]:
print(isThereRegionsInCountryNames(df_happiness_18, df_country))
print(isThereRegionsInCountryNames(df_happiness_19, df_country))

False
False

## Rename columns to same name in the 5 tables

In [503]:

# New names for common columns
happinessRankName="HappinessRank"
happinessScoreName="HappinessScore"
gdpName="GDP"
lifeExpectancyName="LifeExpectancy"
freedomName="Freedom"
GenerosityName= "Generosity"
trustName = "Trust"
countryName = 'Country'
yearName = "Year"

# create new dataframe after renaming common columns
df_happiness_15_mod = df_happiness_15.rename(columns={"Country":countryName,"Happiness Rank": happinessRankName, "Happiness Score":happinessScoreName, "Economy (GDP per Capita)" : gdpName, "Health (Life Expectancy)": lifeExpectancyName, "Freedom": freedomName, "Trust (Government Corruption)":trustName, "Generosity":GenerosityName})

df_happiness_16_mod = df_happiness_16.rename(columns={"Country":countryName,"Happiness Rank": happinessRankName, "Happiness Score":happinessScoreName, "Economy (GDP per Capita)" : gdpName, "Health (Life Expectancy)": lifeExpectancyName, "Freedom": freedomName, "Trust (Government Corruption)":trustName, "Generosity":GenerosityName})

df_happiness_17_mod = df_happiness_17.rename(columns={"Country":countryName,"Happiness.Rank": happinessRankName, "Happiness.Score":happinessScoreName,"Economy..GDP.per.Capita.":gdpName, "Health..Life.Expectancy.": lifeExpectancyName, "Freedom": freedomName, "Trust..Government.Corruption.":trustName, "Generosity":GenerosityName , "Dystopia.Residual":"Dystopia Residual"  })

df_happiness_18_mod = df_happiness_18.rename(columns={"Country or region":countryName,"Happiness Rank": happinessRankName, "Score":happinessScoreName,  "GDP per capita" : gdpName, "Healthy life expectancy": lifeExpectancyName, "Freedom to make life choices": freedomName, "Generosity":GenerosityName})

df_happiness_19_mod = df_happiness_19.rename(columns={"Country or region":countryName,"Happiness Rank": happinessRankName, "Score":happinessScoreName,  "GDP per capita" : gdpName, "Healthy life expectancy": lifeExpectancyName, "Freedom to make life choices": freedomName, "Generosity":GenerosityName})

# tables 15, 16, 17 => country name exists in the table index
# tables 18, 19 => happiness rank exists in the table index
df_happiness_15_mod[countryName]=df_happiness_15_mod.index
df_happiness_16_mod[countryName]=df_happiness_16_mod.index
df_happiness_17_mod[countryName]=df_happiness_17_mod.index
df_happiness_18_mod[happinessRankName]=df_happiness_18_mod.index
df_happiness_19_mod[happinessRankName]=df_happiness_19_mod.index

# add column year to every table
df_happiness_15_mod[yearName] = 2015
df_happiness_16_mod[yearName] = 2016
df_happiness_17_mod[yearName] = 2017
df_happiness_18_mod[yearName] = 2018
df_happiness_19_mod[yearName] = 2019

# arrange tables to have the same order of columns starting from the common columns
df_happiness_15_mod = df_happiness_15_mod[[countryName, happinessRankName, happinessScoreName, gdpName, lifeExpectancyName, freedomName, GenerosityName,yearName ,"Family", "Dystopia Residual", 'Standard Error']]

df_happiness_16_mod = df_happiness_16_mod[[countryName, happinessRankName, happinessScoreName, gdpName, lifeExpectancyName, freedomName, GenerosityName,yearName ,"Family", "Dystopia Residual", 'Lower Confidence Interval', 'Upper Confidence Interval']]

df_happiness_17_mod = df_happiness_17_mod[[countryName, happinessRankName, happinessScoreName, gdpName, lifeExpectancyName, freedomName, GenerosityName,yearName ,"Family", "Dystopia Residual",'Whisker.low', 'Whisker.high' ]]

df_happiness_18_mod = df_happiness_18_mod[[countryName, happinessRankName, happinessScoreName, gdpName, lifeExpectancyName, freedomName, GenerosityName,yearName ,'Perceptions of corruption', 'Social support' ]]

df_happiness_19_mod = df_happiness_19_mod[[countryName, happinessRankName, happinessScoreName, gdpName, lifeExpectancyName, freedomName, GenerosityName,yearName ,'Perceptions of corruption', 'Social support' ]]

In [504]:

# get common columns only from dataframes to append them
df_happiness_15_common = df_happiness_15_mod.iloc[:, 0:8]
df_happiness_16_common = df_happiness_16_mod.iloc[:, 0:8]
df_happiness_17_common = df_happiness_17_mod.iloc[:, 0:8]
df_happiness_18_common = df_happiness_18_mod.iloc[:, 0:8]
df_happiness_19_common = df_happiness_19_mod.iloc[:, 0:8]

# append dataframes to one dataframe
df_happiness = df_happiness_15_common.append(df_happiness_16_common)
df_happiness = df_happiness.append(df_happiness_17_common)
df_happiness = df_happiness.append(df_happiness_18_common)
df_happiness = df_happiness.append(df_happiness_19_common)

In [505]:
df_happiness.reset_index(drop=True, inplace=True)
df_happiness.head()

,Country,HappinessRank,HappinessScore,GDP,LifeExpectancy,Freedom,Generosity,Year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.45811,2015

## Countries in happiness table should have same notation as in the country table
- clean names in country table
- clean names in happiness table


### Country table mapping
----------------------
- Bolivia (Plurinational State of)                ==> Bolivia
- Cocos (Keeling) Islands                         ==> Cocos Islands
- Congo                                           ==> Republic of the Congo
- Congo (Democratic Republic of the)              ==> Democratic Republic of the Congo
- Falkland Islands (Malvinas)                     ==> Falkland Islands
- Iran (Islamic Republic of)	                  ==> Iran
- Korea (Democratic People's Republic of)         ==> North Korea
- Korea (Republic of)	                          ==> South Korea
- Macedonia (the former Yugoslav Republic of)     ==> Macedonia
- Micronesia (Federated States of)                ==> Micronesia
- Moldova (Republic of)	                          ==> Moldova
- Saint Martin (French part)                      ==> Saint Martin
- Venezuela (Bolivarian Republic of)	          ==> Venezuela
- Virgin Islands (British)                        ==> British Virgin Islands
- Virgin Islands (U.S.)                           ==> U.S. Virgin Islands

### Happines table mapping
----------------------
- Congo (Brazzaville)                             ==> Republic of the Congo
- Congo (Kinshasa                                 ==> Democratic Republic of the Congo
- Hong Kong S.A.R., China                         ==> China
- Ivory Coast                                     ==> CÃ´te d'Ivoire
- Kosovo                                          ==> Republic of Kosovo
- Laos                                            ==> Lao People's Democratic Republic
- North Cyprus                                    ==> Cyprus
- North Macedonia                                 ==> Macedonia
- Northern Cyprus                                 ==> Cyprus
- Russia                                          ==> Russian Federation
- Somaliland Region                               ==> Somalia
- Somaliland region                               ==> Somalia
- Syria                                           ==> Syrian Arab Republic
- Taiwan Province of China                        ==> China
- Tanzania                                        ==> Tanzania
- Trinidad & Tobago                               ==> Trinidad and Tobago
- United Kingdom                                  ==> United Kingdom of Great Britain and Northern Ireland
- United States                                   ==> United States of America
- Vietnam                                         ==> Viet Nam

In [506]:

#  clone country dataframe to apply the extraction of countries names on it and find these entries in the original dataframe 
#  (two countries can give same notation after removing parenthesis)
df_countryClone = copy.deepcopy(df_country)

# remove parentheses from every country name and then trim the country name
df_countryClone["name"] = df_countryClone["name"].str.extract('(^[^\(]+)',expand=False)
df_countryClone = df_countryClone.applymap(lambda x: x.strip() if isinstance(x, str) else x)        #trim every country

In [507]:
'''
to find countries that need to change their names, find the difference between the set of new names and set of old names,
then get the row that matches ever country in the difference set from the old data frame (using masks)
'''
filteredCountries = set(df_countryClone["name"].unique()) - set(df_country["name"].unique())
df_countriesToBeFiltered = pd.DataFrame()   
for country in filteredCountries:
    df_countriesToBeFiltered = df_countriesToBeFiltered.append(df_country[df_countryClone["name"]==country])
df_countriesToBeFiltered.head(50)

,name,region,subregion,population,area,gini,Real Growth Rating(%),Literacy Rate(%),Inflation(%),Unemployement(%)
165,Korea (Democratic People's Republic of),Asia,Eastern Asia,25281000,120538.00,NaN,NaN,NaN,NaN,NaN
210,Korea (Republic of),Asia,Eastern Asia,50801405,100210.00,31.3,NaN,NaN,NaN,NaN
26,Bolivia (Plurinational State of),Americas,South America,10985059,1098581.00,56.3,NaN,NaN,NaN,NaN
34,Virgin Islands (British),Americas,Caribbean,28514,151.00,NaN,NaN,NaN,NaN,NaN
35,Virgin Islands (U.S.),Americas,Caribbean,114743,346.36,NaN,NaN,NaN,NaN,NaN
132,Macedonia (the former Yugoslav Republic of),Europe,Southern Europe,2058539,25713.00,43.2,NaN,NaN,NaN,NaN
73,Falkland Islands (Malvinas),Americas,South America,2563,12173.00,NaN,NaN,NaN,NaN,NaN
191,Saint Martin (French part),Americas,Caribbean,36979,53.00,NaN,NaN,NaN,NaN,NaN
146,Moldova (Republic of),Europe,Eastern Europe,3553100,33846.00,33.0,NaN,NaN,NaN,NaN
203,Sint Maarten (Dutch part),Americas,Caribbean,38247,34.00,NaN,NaN,NaN,NaN,NaN
50,Cocos (Keeling) Islands,Oceania,Australia and New Zealand,550,14.00,NaN,NaN,NaN,NaN,NaN
107,Iran (Islamic Republic of),Asia,Southern Asia,79369900,1648195.00,38.3,NaN,NaN,NaN,NaN
145,Micronesia (Federated States of),Oceania,Micronesia,102800,702.00,NaN,NaN,NaN,NaN,NaN
243,Venezuela (Bolivarian Republic of),Americas,South America,31028700,916445.00,44.8,NaN,NaN,NaN,NaN

In [508]:
# in case two countries have the same name without parentheses, google search is used to identify the country (by area) and get the real name
df_countryMod = copy.deepcopy(df_country)
df_countryMod.replace({
                        "Bolivia (Plurinational State of)" : "Bolivia",
                        "Cocos (Keeling) Islands" : "Cocos Islands",
                        "Congo" : "Republic of the Congo",
                        "Congo (Democratic Republic of the)" : "Democratic Republic of the Congo",
                        "Falkland Islands (Malvinas)" : "Falkland Islands",
                        "Iran (Islamic Republic of)" : "Iran",
                        "Korea (Democratic People's Republic of)" : "North Korea",
                        "Korea (Republic of)" : "South Korea",
                        "Macedonia (the former Yugoslav Republic of)" : "Macedonia",
                        "Micronesia (Federated States of)" : "Micronesia",
                        "Moldova (Republic of)" : "Moldova",
                        "Saint Martin (French part)" : "Saint Martin",
                        "Tanzania, United Republic of":"Tanzania",
                        "Venezuela (Bolivarian Republic of)" : "Venezuela",
                        "Virgin Islands (British)" : "British Virgin Islands",
                        "Virgin Islands (U.S.)" : "U.S. Virgin Islands"
                        }, inplace=True)

# Clean Data
df_countryMod =df_countryMod[df_countryMod['name']!="Israel"]

get countries to be renamed in happiness table by getting the difference between happiness table countries and country names in the country table after modifications

In [509]:
set(df_happiness["Country"].unique()) - set(df_countryMod["name"].unique())

{'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Hong Kong S.A.R., China',
 'Israel',
 'Ivory Coast',
 'Kosovo',
 'Laos',
 'North Cyprus',
 'North Macedonia',
 'Northern Cyprus',
 'Palestinian Territories',
 'Russia',
 'Somaliland Region',
 'Somaliland region',
 'Syria',
 'Taiwan Province of China',
 'Trinidad & Tobago',
 'United Kingdom',
 'United States',
 'Vietnam'}

In [510]:
# rename
df_happinessMod = copy.deepcopy(df_happiness)
df_happinessMod.replace({
                        'Congo (Brazzaville)': "Republic of the Congo",
                        'Congo (Kinshasa)': "Democratic Republic of the Congo",
                        'Hong Kong S.A.R., China':"China",
                        'Ivory Coast':"CÃ´te d'Ivoire",
                        'Kosovo':"Republic of Kosovo",
                        'Laos':"Lao People's Democratic Republic",
                        'North Cyprus':"Cyprus",
                        'North Macedonia':"Macedonia",
                        'Northern Cyprus':"Cyprus",
                        'Russia':"Russian Federation",
                        'Somaliland Region':"Somalia",
                        'Somaliland region':"Somalia",
                        'Syria':"Syrian Arab Republic",
                        'Taiwan Province of China':"China",
                        'Tanzania':"Tanzania",
                        'Trinidad & Tobago':"Trinidad and Tobago",
                        'United Kingdom':"United Kingdom of Great Britain and Northern Ireland",
                        'United States':"United States of America",
                        'Vietnam':"Viet Nam"
                        }, inplace=True)

# Clean data
df_happinessMod =df_happinessMod[df_happinessMod['Country']!="Palestinian Territories"]
df_happinessMod =df_happinessMod[df_happinessMod['Country']!="Israel"]

In [511]:
# 
differentCountriesCount = len(set(df_happinessMod["Country"].unique()) - set(df_countryMod["name"].unique()))
if differentCountriesCount>0:
    print("different countries Still exist")
else:
    print("Country names in happiness & country tables are consistent")

Country names in happiness & country tables are consistent

----
## Save data to the disk to be used directly

In [514]:
output_path= 'modified_dataset'
if not os.path.exists(output_path):
    os.makedirs(output_path)
df_happinessMod.to_csv(os.path.join(output_path, 'Happiness_Common.csv'), index=False)
df_countryMod.to_csv(os.path.join(output_path, 'Countries.csv'), index=False)